{% resource 'cartodbmap/main' %}
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script type="text/javascript" src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.mod.torque.js" async=""></script>
<style>
.opendatacity-locate {
  display: none;
  position: relative;
  margin: 11px 0 0 20px;
  float: left;
  clear: both;
  z-index: 105;
  cursor: pointer;
}
.opendatacity-locate a {
  display: block;
  width: 14px;
  height: 14px;
  padding: 7px;
  background: #fff url(fanstatic/cartodbmap/vendor/cartodb/img/locate.png) no-repeat -25px 3px;
  -webkit-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
  -moz-box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
  box-shadow: rgba(0,0,0,.2) 0 0 4px 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999;
}
.opendatacity-locate a:hover {
	background: #fff url(fanstatic/cartodbmap/vendor/cartodb/img/locate.png) no-repeat 3px 3px;
}

.leaflet-control-scale, .leaflet-control-minimap{
	top: 60px;
}
</style>
<div
  data-module = "cartodb_preview"
  data-module-resource-url = "{{ resource.url }}"
  data-module-resource-id = "{{ resource.id }}"
  data-module-cartodb-vis-url = "{{ resource_view.cartodb_vis_url }}"
  data-module-discourse-url = "{{ h.ckanext_cartodbmap_get_discourse_url() }}"
  id = "cartodb-map-{{ resource_view.id }}"
  class = "cartodb-map"
  >
</div>
