.cartodb-map {
  height: 500px;
  cursor: default;
}

#map {
  width: 100%;
  height: 100%;
}


/* form input */
#cartodb_vis_url {
  width: 98%;
  
}

/* Hide defualt filters module */
div[data-module="resource-view-filters-form"] {
  display:none;
}

#loading {
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(240,240,240,0.7);
  z-index:1000;
}
  
#loadingcontent {
  display:table;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

#loading-spinner {
  position: absolute;
  left: 50%;
  top : 50%;
}

.map-button-div{
  /* color:#187794; */
  
  /* background-color:rgba(120,120,120,.2);*/
  color: rgba(140,140,140,1);
  line-height:14px;
  font-size:14px;
  position:absolute;
  bottom:8px;
  z-index:999;
  border: 1px solid rgba(140,140,140,1);
  border-radius: 4px;
  
}


.map-button{
  /* color:#187794; */
  color: rgba(140,140,140,1);
  padding: 3px 3px 25px 3px;
  line-height:14px;
  font-size:12px;
  font-weight: 600;
  text-shadow: none;
}

