.cartodb-map {
  height: 500px;
  cursor: default;
}

#map {
  width: 100%;
  height: 100%;
}


/* form input */
#cartodb_vis_url {
  width: 98%;
  
}

/* Hide defualt filters module */
div[data-module="resource-view-filters-form"] {
  display:none;
}

/*
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"--";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"0";
}
*/